html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* .container-fluid {
    padding-left: 0 !important;
} */

/*#logo {*/
/*    float: right;*/
/*}*/
#mainNav
{
    background-color: #FF8800;
}

.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightgray;
    
}

