html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#mainNav
{
    background-color: #FF8800;
}

.container-fluid {
   display: block;
}

/*#logo {*/
/*    float: right;*/
/*}*/

.carousel .carousel-inner{
    height: 584px;
}

.carousel-inner .carousel-item img{
    min-height: 584px;
    object-fit:cover
}

.tp-title {
    display: inline-block;
    max-width: 45%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.tp-subtitle {
    display: inline-block;
    max-width: 45%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    padding-left: 20px;
}

#link {
    color: black;
}

.tp-title-subtitle {
    margin-left: 40px;
    margin-top: 30px;
}

.card-container {
    display: flex;
    margin-left: 90px;
}
.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightgray;
    
}

