html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#mainNav
{
    background-color: #FF8800;
}

.container-fluid {
   display: block;
}

/*#logo {*/
/*    float: right;*/
/*}*/

.carousel .carousel-inner{
    height: 584px;
}

.carousel-inner .carousel-item img{
    min-height: 584px;
    object-fit:cover
}

.tp-title {
    display: inline-block;
    max-width: 45%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.tp-subtitle {
    display: inline-block;
    max-width: 45%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    padding-left: 20px;
}

#link {
    color: black;
}

.tp-title-subtitle {
    margin-left: 40px;
    margin-top: 30px;
}

.card-container {
    display: flex;
    margin-top: 10px;
    /*margin-left: 90px;*/
    justify-content: space-between;
}

.card {

}
.footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightgray;
    
}
.product_wrapper {
	float:left;
	padding: 10px;
    text-align: center;
    
    }
    
    /* hover kleur van de winkelwagen */
.product_wrapper:hover {
	box-shadow: 0 0 0 2px #e5e5e5;
	cursor:pointer;
    }
    
    /* font van de winkelwagen */
.product_wrapper .name {
	font-weight:bold;
    }
    
    /* de knop van de winkelwagen */
.product_wrapper .buy {
	text-transform: uppercase;
	background: #F68B1E;
	border: 1px solid #F68B1E;
	cursor: pointer;
	color: #fff;
	padding: 8px 40px;
	margin-top: 10px;
}

/* de knop van de card */
.product_wrapper .buy:hover {
	background: #f17e0a;
	border-color: #f17e0a;
}
